# Ambientes Virtuais
venv/
airflowalura/venv

# Configurações sensíveis
.env

# Airflow metadata
**/__pycache__/
airflowalura/logs
airflowalura/airflow.db
airflowalura/airflow.cfg
airflowalura/airflow-webserver.pid
airflowalura/standalone_admin_password.txt