.venv
venv
teste_agenda_tributaria_2025.json
teste2_agenda_tributaria_2025.json
teste3_agenda_tributaria_2025.json
teste4_agenda_tributaria_2025.json
teste5_agenda_tributaria_2025.json
teste6_agenda_tributaria_2025.json
teste7_agenda_tributaria_2025.json
teste8_agenda_tributaria_2025.json
teste9_agenda_tributaria_2025.json